<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Allura" rel="stylesheet">
</head>
<body>
  <nav>
    <ul id="navbar">
      <li><a href="/courses">Courses</a></li>
      <li><a href="/schedule">Schedule</a></li>
    </ul>
  </div>
</nav>
  <h1>Hermione's Hogwarts Scheduler</h1>
  <div class="img-container">
    <img src="https://i.ytimg.com/vi/mbukwwq2NJM/maxresdefault.jpg" alt="time-turner" style="width:512px;height:288px;">
  </div>
</body>
